/*Main layout/template style structure
 *Alex is not allowed to nit pick in this file - it's my territory; Go Away
 *Created by: Jessica Schneider (http://jaschneider.com)
 *Date: October 22, 2011
*/

/*---Resets---*/
body {width:920px; margin: 0 auto;}


/*------Header-------*/
#header{background-image:url(../images/breakfast_header.jpg); height:151px;}

/*--Nav--*/
.navigation{width:350px; float:right; height:30px; border:1px solid #fff; margin: 10px;}


/*------Content--------*/
#content{background-color:#f7ec86; border-top:1px solid #ead22e; padding:30px 20px; display:inline-block; width:880px;}

/*--Left Column--*/
.left_sidebar{width:450px; float:left; border:1px solid #fff;}

/*--Right Column--*/
.right_sidebar{width:425px; float:right; border:1px solid #000;}

/*------Footer------*/
#footer{background-color:blue; height:100px;}


/*------Font-------*/


/*------Links-------*/
